# Created by .ignore support plugin (hsz.mobi)
/build/
/.idea/dataSources/*
Будет удалено .idea/dataSources.local.xml
Будет удалено .idea/dataSources/
Будет удалено .idea/inspectionProfiles/
Будет удалено .idea/workspace.xml
